body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button1 {
  font-size: x-large;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #00c3ad;
  height: 200px;
  width: 200px;
}

.button1:hover{
  background-color: #00c3ad;
  color: white;
}

.button1:active {
  background-color: lightcoral;
  color: white;
}

@media all and (max-width:30em){
  .button1{
    height: 100px;
    width: 100px;
    font-size: small;
  }
}

h1 {
  color: #00c3ad;
}
